<div id="<%= dom_id membership %>">
  <%= membership.user.email_address %>

  <% if policy(membership.organization).add_membership? %>
    <%= link_to "Edit", edit_organization_membership_path(membership.organization, membership) %>
  <% end %>
</div>
