<p style="color: green"><%= notice %></p>

<% content_for :title, "Memberships" %>

<%= turbo_frame_tag [@organization.id, :memberships] do %>
  <h1>Memberships</h1>
  <%= render @memberships %>

  <% if policy(@organization).add_membership? %> 
    <%= link_to "Invite member", "#" %>
  <% end %>
<% end %>

