<% content_for :title, "Editing invite" %>

<h1>Editing invite</h1>

<%= render "form", organization_invite: @organization_invite %>

<br>

<div>
  <%= link_to "Show this invite", @organization_invite %> |
  <%= link_to "Back to invites", organization_invites_path %>
</div>
