<% content_for :title, "New invite" %>


<%= turbo_frame_tag "organization_#{@organization.id}_invites" do %>

<h1>New invite</h1>

<%= render "form", organization_invite: @organization_invite %>

<br>

<div>
  <%= link_to "Back to invites", organization_invites_path %>
</div>

<% end %>
