<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>

<h1 class="col-span-12 font-semibold text-lg">Subscription</h1>

<div class="col-span-12 md:col-span-6 card card-compact bg-base-200 shadow">
  <div class="card-body !flex-row justify-between">
    <div class="flex gap-2">
      Subscription Status:
      <%= render Subscription::StatusBadgeComponent.new(subscription: @subscription)%>
    </div>
    <%= render Subscription::ExpiryDateComponent.new(subscription: @subscription) %>
  </div>
</div>

<% if @subscription&.plan.present? %>
  <div class="col-span-12 md:col-span-6 card card-compact bg-base-200 shadow">
    <div class="card-body !flex-row justify-between">
      Plan: <%= @subscription.plan.name %>
    </div>
  </div>
<% end %>