<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>


<h1 class="col-span-12 font-semibold text-lg">Addresses</h1>

<div class="col-span-12 md:col-span-6 md:order-2 gap-4 flex flex-col">
  <% if @addresses.empty? %>
    <div class="card card-compact bg-base-200 shadow">
      <div class="card-body">
        <div class="flex flex-col items-center p-4 gap-4 justify-center">
          <p class="text-sm">You have not yet created an address.</p>
          <%= link_to 'Create Address', new_address_path, class: 'btn btn-accent btn-sm' %>
        </div>
      </div>
    </div>
  <% else%>
    <div class="card card-compact bg-base-200 shadow">
      <div class="card-body">

      </div>
    </div>
    <div class="card card-compact bg-base-200 shadow">
      <div class="card-body">

      </div>
    </div>
  <% end %>
</div>
