<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>

<% content_for :title, "New address" %>

<h1 class="col-span-12 font-semibold text-lg">New address</h1>

<div class="col-span-12 md:col-span-6 md:order-2 card card-compact bg-base-200 shadow">
  <div class="card-body">
    <%= render "form", address: @address %>
  </div>
</div>
