<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>

<h1 class="col-span-12 font-semibold text-lg">Address</h1>

<div class="col-span-12 md:col-span-6 gap-4 flex flex-col">
    <%= render @address %>
</div>

<div class="col-span-12">
  <%= link_to addresses_path, class: 'text-current text-sm flex items-center gap-2' do %>
    <%= render Icons::RoundAltArrowLeftComponent.new(classes: 'h-6 w-6 fill-current') %>
    Back to addresses
  <% end %>
</div>