<% content_for :title, "New organization" %>

<% if policy(@organization).new? %>
  <h1>New organization</h1>

  <%= render "form", organization: @organization %>
<% else %>
  <p>You have reached the organization limit.</p>
<% end %>

<br>

<div>
  <%= link_to "Back to organizations", organizations_path %>
</div>
