<!DOCTYPE html>
<html data-theme="light">
  <%= render 'layouts/head' %>

  <body data-controller="application">
    <%= render 'layouts/notifications' %>

    <%= render 'layouts/navbar' %>
    
    <%= yield %>
  </body>
</html>
